<% provide(:title, "Game with #{@opponent}")%>
<div class = 'container'>
	<div class = 'center'>
		
		<%= render 'banner', game: @game, opponent: @opponent %>
		
		<%= render 'scores', opponent: @opponent, current_player: @current_player, game: @game %>
					
		<%= render 'dice', roll: @roll, turn_score: @turn_score, opponent: @opponent, game: @game, current_player: @current_player %>

		<% if ! @game.game_over? %>
			<%= render 'play_buttons', game: @game, rolls: @rolls %>
		<% else %>
			<%= render 'winner', current_player: @current_player, opponent: @opponent, winner: @winner %>
		<% end %>


	</div>
</div>
