<% provide(:title, "Currently Active Players")%>
<%= render '/layouts/return_to_game' %>

<div class = "container">
<h1>Currently Active Players</h1>

<h2>Click on someone to play Greed!</h2>
<ul class='players'>
	<% @players.each do |player| %>
		<li>
			<%= form_tag new_game_path, method: 'get' do  %>
				<%= hidden_field_tag :opponent, player.id %>
				<%= image_submit_tag gravatar_url_for(player), id: player.player_name %>
				<%= player.player_name %>
			<% end %>
		</li>
	<% end %>
</ul>
</div>