<!DOCTYPE html>
<html>
<head>
	<title><%= full_title(yield(:title)) %></title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application", "https://d3dy5gmtp8yhk7.cloudfront.net/1.12/pusher.min.js" %>
	<%= csrf_meta_tags %>
	<%= render 'layouts/shim' %>
</head>
<body>
	<% if signed_in? %>
		<div id='current-player-name' style="display:none"><%= current_player.player_name %></div>
	<% else %>
		<div id='current-player-name' style="display:none"></div>
	<% end %>	
	<%= render 'layouts/header' %>
	<div class="container">
		<% flash.each do |key, value| %>
		  <div class="alert alert-<%= key %>"><%= value %></div>
		<% end %>
		<%= yield %>
		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.development? %>
	</div>
</body>
</html>
